/* Base styles for all projects */
/*  ============================================================================= NORMALIZE STYLES ============================================================================= */
/* ========================================================================== VARIABLES ========================================================================== */
/* Colors ========================================================================== */
/*  ============================================================================= BASE STYLES ============================================================================= */
.tac { text-align: center; }

.tal { text-align: left; }

.tar { text-align: right; }

.text-plain { text-decoration: none; }

.list-plain { list-style-type: none; }

.list-horz li { display: inline-block; }

.assistive-text { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

/* LAYOUT & DISPLAY ============================================================================= */
.dn { display: none; }

.db { display: block; }

.dib { display: inline-block; }

.dt { display: table; }

.dtc { display: table-cell; }

.df { display: -webkit-flex; display: -ms-flexbox; display: flex; }

.df-wrap { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.df-child { -webkit-flex-basis: 250px; -ms-flex-preferred-size: 250px; flex-basis: 250px; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }

.pos-rel { position: relative; }

.pos-abs { position: absolute; }

.pos-fix { position: fixed; }

.top-0 { top: 0; }

.bot-0 { bottom: 0; }

.left-0 { left: 0; }

.right-0 { right: 0; }

.right-half { right: 50%; }

.fl { float: left; }

.fr { float: right; }

.center { margin-left: auto; margin-right: auto; }

.vat { vertical-align: top; }

.vac { vertical-align: middle; }

.vab { vertical-align: bottom; }

.vam { position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

/* Display Types ============================================================================= */
.z-above { z-index: 10; }

.z-top { z-index: 999; }

.hidden { visibility: hidden; }

.opacity-0 { opacity: 0; }

.of-hidden { overflow-y: hidden; }

.default-cursor { cursor: default; }

.pointer-cursor { cursor: pointer; }

.text-cursor { cursor: text; }

/* SHAPES ============================================================================= */
button, input[type="submit"] { border: none; background-color: transparent; }

input, textarea { border: none; }

/* BORDER WIDTHS & STYLE ============================================================================= */
/* Create custom border colors in _styles.scss */
.ban { border: none !important; }

.bas { border-width: 1px; border-style: solid; }

.bls { border-left-width: 1px; border-left-style: solid; }

.brs { border-right-width: 1px; border-right-style: solid; }

.bts { border-top-width: 1px; border-top-style: solid; }

.bbs { border-bottom-width: 1px; border-bottom-style: solid; }

.br-s { border-radius: 3px; }

.br-m { border-radius: 5px; }

/*  GRID OF TWELVE   ============================================================================= */
/* Mobile First */
.wi-full, .span_12_of_12 { width: 100%; }

.span_11_of_12 { width: 100%; }

.span_10_of_12 { width: 100%; }

.span_9_of_12 { width: 100%; }

.span_8_of_12 { width: 100%; }

.span_7_of_12 { width: 100%; }

.span_6_of_12 { width: 100%; }

.span_5_of_12 { width: 100%; }

.span_4_of_12 { width: 100%; }

.span_3_of_12 { width: 100%; }

.span_2_of_12 { width: 100%; }

.span_1_of_12 { width: 100%; }

.ht-full { height: 100%; }

.ht-vh { height: 100vh; }

.wi-half { width: 50%; }

/*  12 Column grid for bigger THAN 40em - 480 PIXELS wide */
@media only screen and (min-width: 40em) { .wi-full, .span_12_of_12 { width: 100%; }
  .span_11_of_12 { width: 91.667%; }
  .span_10_of_12 { width: 83.333%; }
  .span_9_of_12 { width: 75%; }
  .span_8_of_12 { width: 66.666%; }
  .span_7_of_12 { width: 58.333%; }
  .span_6_of_12 { width: 50%; }
  .span_5_of_12 { width: 41.666%; }
  .span_4_of_12 { width: 33.333%; }
  .span_3_of_12 { width: 25%; }
  .span_2_of_12, .span_2_of_12-ns { width: 16.667%; }
  .span_1_of_12, .span_1_of_12-ns { width: 8.333%; } }
/* OTHER PEOPLE'S CODE ============================================================================= */
/** For modern browsers 1. The space content is one way to avoid an Opera bug when the contenteditable attribute is included anywhere else in the document. Otherwise it causes space to appear at the top and bottom of elements that are clearfixed. 2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements. */
.cf:before, .cf-ns:before, .cf:after, .cf-ns:after { content: " "; /* 1 */ display: table; /* 2 */ }

.cf:after, .cf-ns:after { clear: both; }

/** For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
.cf, .cf-ns { *zoom: 1; }

/** Paul Irish Border Box Sizing Fixes padding, border, etc. so that they don't affect the elements' real width  */
* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.no-border-box { box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; }

/* SPACING  ============================================================================= */
/* Padding */
.pan { padding: 0; }

.paxs { padding: .25rem; }

.pas { padding: .5rem; }

.pam { padding: 1rem; }

.pal { padding: 2rem; }

.pax { padding: 4rem; }

.pln { padding-left: 0; }

.plxs { padding-left: .25rem; }

.pls { padding-left: .5rem; }

.plm { padding-left: 1rem; }

.pll { padding-left: 2rem; }

.plx { padding-left: 4rem; }

.prn { padding-right: 0; }

.prxs { padding-right: .25rem; }

.prs { padding-right: .5rem; }

.prm { padding-right: 1rem; }

.prl { padding-right: 2rem; }

.prx { padding-right: 4rem; }

.pbn { padding-bottom: 0; }

.pbxs { padding-bottom: .25rem; }

.pbs { padding-bottom: .5rem; }

.pbm { padding-bottom: 1rem; }

.pbl { padding-bottom: 2rem; }

.pbx { padding-bottom: 4rem; }

.ptn { padding-top: 0; }

.ptxs { padding-top: .25rem; }

.pts { padding-top: .5rem; }

.ptm { padding-top: 1rem; }

.ptl { padding-top: 2rem; }

.ptx { padding-top: 4rem; }

.pvn { padding-top: 0; padding-bottom: 0; }

.pvxs { padding-top: .25rem; padding-bottom: .25rem; }

.pvs { padding-top: .5rem; padding-bottom: .5rem; }

.pvm { padding-top: 1rem; padding-bottom: 1rem; }

.pvl { padding-top: 2rem; padding-bottom: 2rem; }

.pvx { padding-top: 4rem; padding-bottom: 4rem; }

.phn { padding-left: 0; padding-right: 0; }

.phxs { padding-left: .25rem; padding-right: .25rem; }

.phs { padding-left: .5rem; padding-right: .5rem; }

.phm { padding-left: 1rem; padding-right: 1rem; }

.phl { padding-left: 2rem; padding-right: 2rem; }

.phx { padding-left: 4rem; padding-right: 4rem; }

/* Margins */
.man { margin: 0; }

.maxs { margin: .25rem; }

.mas { margin: .5rem; }

.mam { margin: 1rem; }

.mal { margin: 2rem; }

.max { margin: 4rem; }

.mln { margin-left: 0; }

.mlxs { margin-left: .25rem; }

.mls { margin-left: .5rem; }

.mlm { margin-left: 1rem; }

.mll { margin-left: 2rem; }

.mlx { margin-left: 4rem; }

.mrn { margin-right: 0; }

.mrxs { margin-right: .25rem; }

.mrs { margin-right: .5rem; }

.mrm { margin-right: 1rem; }

.mrl { margin-right: 2rem; }

.mrx { margin-right: 4rem; }

.mbn { margin-bottom: 0; }

.mbxs { margin-bottom: .25rem; }

.mbs { margin-bottom: .5rem; }

.mbm { margin-bottom: 1rem; }

.mbl { margin-bottom: 2rem; }

.mbx { margin-bottom: 4rem; }

.mtn { margin-top: 0; }

.mtxs { margin-top: .25rem; }

.mts { margin-top: .5rem; }

.mtm { margin-top: 1rem; }

.mtl { margin-top: 2rem; }

.mtx { margin-top: 4rem; }

.mvn { margin-top: 0; margin-bottom: 0; }

.mvxs { margin-top: .25rem; margin-bottom: .25rem; }

.mvs { margin-top: .5rem; margin-bottom: .5rem; }

.mvm { margin-top: 1rem; margin-bottom: 1rem; }

.mvl { margin-top: 2rem; margin-bottom: 2rem; }

.mvx { margin-top: 4rem; margin-bottom: 4rem; }

.mhn { margin-left: 0; margin-right: 0; }

.mhxs { margin-left: .25rem; margin-right: .25rem; }

.mhs { margin-left: .5rem; margin-right: .5rem; }

.mhm { margin-left: 1rem; margin-right: 1rem; }

.mhl { margin-left: 2rem; margin-right: 2rem; }

.mhx { margin-left: 4rem; margin-right: 4rem; }

/* SPACING  (bigger than phone screen size - ns) ============================================================================= */
/* Padding */
@media only screen and (min-width: 40em) { .pan-ns { padding: 0; }
  .paxs-ns { padding: .25rem; }
  .pas-ns { padding: .5rem; }
  .pam-ns { padding: 1rem; }
  .pal-ns { padding: 2rem; }
  .pax-ns { padding: 4rem; }
  .pln-ns { padding-left: 0; }
  .plxs-ns { padding-left: .25rem; }
  .pls-ns { padding-left: .5rem; }
  .plm-ns { padding-left: 1rem; }
  .pll-ns { padding-left: 2rem; }
  .plx-ns { padding-left: 4rem; }
  .prn-ns { padding-right: 0; }
  .prxs-ns { padding-right: .25rem; }
  .prs-ns { padding-right: .5rem; }
  .prm-ns { padding-right: 1rem; }
  .prl-ns { padding-right: 2rem; }
  .prx-ns { padding-right: 4rem; }
  .pbn-ns { padding-bottom: 0; }
  .pbxs-ns { padding-bottom: .25rem; }
  .pbs-ns { padding-bottom: .5rem; }
  .pbm-ns { padding-bottom: 1rem; }
  .pbl-ns { padding-bottom: 2rem; }
  .pbx-ns { padding-bottom: 4rem; }
  .ptn-ns { padding-top: 0; }
  .ptxs-ns { padding-top: .25rem; }
  .pts-ns { padding-top: .5rem; }
  .ptm-ns { padding-top: 1rem; }
  .ptl-ns { padding-top: 2rem; }
  .ptx-ns { padding-top: 4rem; }
  .pvn-ns { padding-top: 0; padding-bottom: 0; }
  .pvxs-ns { padding-top: .25rem; padding-bottom: .25rem; }
  .pvs-ns { padding-top: .5rem; padding-bottom: .5rem; }
  .pvm-ns { padding-top: 1rem; padding-bottom: 1rem; }
  .pvl-ns { padding-top: 2rem; padding-bottom: 2rem; }
  .pvx-ns { padding-top: 4rem; padding-bottom: 4rem; }
  .phn-ns { padding-left: 0; padding-right: 0; }
  .phxs-ns { padding-left: .25rem; padding-right: .25rem; }
  .phs-ns { padding-left: .5rem; padding-right: .5rem; }
  .phm-ns { padding-left: 1rem; padding-right: 1rem; }
  .phl-ns { padding-left: 2rem; padding-right: 2rem; }
  .phx-ns { padding-left: 4rem; padding-right: 4rem; }
  /* Margins */
  .man-ns { margin: 0; }
  .maxs-ns { margin: .25rem; }
  .mas-ns { margin: .5rem; }
  .mam-ns { margin: 1rem; }
  .mal-ns { margin: 2rem; }
  .max-ns { margin: 4rem; }
  .mln-ns { margin-left: 0; }
  .mlxs-ns { margin-left: .25rem; }
  .mls-ns { margin-left: .5rem; }
  .mlm-ns { margin-left: 1rem; }
  .mll-ns { margin-left: 2rem; }
  .mlx-ns { margin-left: 4rem; }
  .mrn-ns { margin-right: 0; }
  .mrxs-ns { margin-right: .25rem; }
  .mrs-ns { margin-right: .5rem; }
  .mrm-ns { margin-right: 1rem; }
  .mrl-ns { margin-right: 2rem; }
  .mrx-ns { margin-right: 4rem; }
  .mbn-ns { margin-bottom: 0; }
  .mbxs-ns { margin-bottom: .25rem; }
  .mbs-ns { margin-bottom: .5rem; }
  .mbm-ns { margin-bottom: 1rem; }
  .mbl-ns { margin-bottom: 2rem; }
  .mbx-ns { margin-bottom: 4rem; }
  .mtn-ns { margin-top: 0; }
  .mtxs-ns { margin-top: .25rem; }
  .mts-ns { margin-top: .5rem; }
  .mtm-ns { margin-top: 1rem; }
  .mtl-ns { margin-top: 2rem; }
  .mtx-ns { margin-top: 4rem; }
  .mvn-ns { margin-top: 0; margin-bottom: 0; }
  .mvxs-ns { margin-top: .25rem; margin-bottom: .25rem; }
  .mvs-ns { margin-top: .5rem; margin-bottom: .5rem; }
  .mvm-ns { margin-top: 1rem; margin-bottom: 1rem; }
  .mvl-ns { margin-top: 2rem; margin-bottom: 2rem; }
  .mvx-ns { margin-top: 4rem; margin-bottom: 4rem; }
  .mhn-ns { margin-left: 0; margin-right: 0; }
  .mhxs-ns { margin-left: .25rem; margin-right: .25rem; }
  .mhs-ns { margin-left: .5rem; margin-right: .5rem; }
  .mhm-ns { margin-left: 1rem; margin-right: 1rem; }
  .mhl-ns { margin-left: 2rem; margin-right: 2rem; }
  .mhx-ns { margin-left: 4rem; margin-right: 4rem; } }
/*  ============================================================================= TYPOGRAPHY STYLES ============================================================================= */
body { margin: 0; font-family: 'Lato', sans-serif; font-size: 18px; font-weight: 300; }

h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', sans-serif; }

p, option, select, input, textarea { font-size: 18px; font-family: 'Lato', sans-serif; font-weight: 300; }

.introText { font-size: 16px; line-height: 1.4rem; }

h1, .f1 { font-size: 2rem; }

h2, .f2 { font-size: 1.5rem; }

h3, .f3 { font-size: 1rem; }

h4, .f4 { font-size: 1rem; }

h5, .f5 { font-size: 0.9rem; }

h6, .f6 { font-size: 0.5rem; }

p { line-height: 1.75rem; }

.lhs { line-height: 1.4rem; }

.caps { text-transform: uppercase; }

.italic { font-style: italic; }

.fw-light { font-weight: 300; }

.fw-normal { font-weight: 400; }

.fw-bold { font-weight: 800; }

.text-white { color: #fff; }

.text-dark { color: #333333; }

.text-green { color: #03a678; }

.text-red { color: #d91e18; }

a { text-decoration: none; color: inherit; }

a:visited { text-decoration: none; color: inherit; }

@media only screen and (min-width: 40em) { h1, .f1-ns { font-size: 3rem; }
  h2, .f2-ns { font-size: 2rem; }
  h3, .f3-ns { font-size: 1.5rem; }
  h4, .f4-ns { font-size: 1rem; }
  h5, .f5-ns { font-size: 0.8rem; }
  h6, .f6-ns { font-size: 0.5rem; }
  .text-dark-ns { color: #333333; }
  .introText-ns { font-size: 24px; line-height: 2.3rem; } }
/* =============================================================================
*  ANIMATION STYLES
*  ============================================================================= */
.animated { -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-timing-function: ease-out; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.animated-delay1 { -webkit-animation-delay: 200ms; animation-delay: 200ms; }

.animated-delay2 { -webkit-animation-delay: 400ms; animation-delay: 400ms; }

@-webkit-keyframes bounceIn { 0%, 20%, 40%, 60%, 80%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% { opacity: 0; -webkit-transform: scale3d(0.7, 0.7, 0.7); transform: scale3d(0.7, 0.7, 0.7); }
  20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  40% { -webkit-transform: scale3d(0.9, 0.9, 0.9); transform: scale3d(0.9, 0.9, 0.9); }
  60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); }
  80% { -webkit-transform: scale3d(0.97, 0.97, 0.97); transform: scale3d(0.97, 0.97, 0.97); }
  100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); } }
@keyframes bounceIn { 0%, 20%, 40%, 60%, 80%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% { opacity: 0; -webkit-transform: scale3d(0.7, 0.7, 0.7); transform: scale3d(0.7, 0.7, 0.7); }
  20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  40% { -webkit-transform: scale3d(0.9, 0.9, 0.9); transform: scale3d(0.9, 0.9, 0.9); }
  60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); }
  80% { -webkit-transform: scale3d(0.97, 0.97, 0.97); transform: scale3d(0.97, 0.97, 0.97); }
  100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); } }
.bounceIn { -webkit-animation-name: bounceIn; animation-name: bounceIn; -webkit-animation-duration: .75s; animation-duration: .75s; }

@-webkit-keyframes pulse { 0% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
  50% { -webkit-transform: scale3d(1.05, 1.05, 1.05); transform: scale3d(1.05, 1.05, 1.05); }
  100% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); } }
@keyframes pulse { 0% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
  50% { -webkit-transform: scale3d(1.05, 1.05, 1.05); transform: scale3d(1.05, 1.05, 1.05); }
  100% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); } }
.pulse { -webkit-animation-name: pulse; animation-name: pulse; }

/* Animations ====================================== */
.ease { -webkit-transition: all .5s ease; transition: all .5s ease; }

/* Color Bar Filter */
.slideToggle { overflow-y: hidden; -webkit-transition-property: all; transition-property: all; -webkit-transition-duration: .2s; transition-duration: .2s; -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1); transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

.mh-auto { max-height: auto; }

.mh-none { max-height: 0; }

/* Instruction screens */
.fadeInAni { -webkit-animation: fadeIn 0.4s forwards; animation: fadeIn 0.4s forwards; }

@-webkit-keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }
.fadeOutAni { -webkit-animation: fadeOut 0.5s forwards; animation: fadeOut 0.5s forwards; }

.fadeOutDelayAni { -webkit-animation: fadeOut 0.5s 2s forwards; animation: fadeOut 0.5s 2s forwards; }

@-webkit-keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }
/* slide out left panel */
.slideOut-left.slideOut-open { left: 0px; }

.slideOut { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

/* Toolbar Animations - shimmer */
.shimmer { background: -webkit-gradient(linear, left top, right top, color-stop(0, #4d4d4d), color-stop(0.4, #4d4d4d), color-stop(0.5, white), color-stop(0.6, #4d4d4d), color-stop(1, #4d4d4d)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; -webkit-animation-name: shimmerAni; -webkit-animation-duration: 2s; -webkit-animation-delay: 200ms; -webkit-animation-timing-function: ease-out; width: 200%; }

@-webkit-keyframes shimmerAni { 0% { background-position: -458px 0; }
  100% { background-position: 458px 0; } }
@media only screen and (min-width: 40em) { .l-slideOutFadeInAni-ns { -webkit-animation: l-slideOutFadeIn 0.5s forwards; animation: l-slideOutFadeIn 0.5s forwards; }
  @-webkit-keyframes l-slideOutFadeIn { 0% { opacity: 0; -webkit-transform: translateX(300px); transform: translateX(300px); }
    100% { opacity: 1; -webkit-transform: translateX(0px); transform: translateX(0px); } }
  @keyframes l-slideOutFadeIn { 0% { opacity: 0; -webkit-transform: translateX(300px); transform: translateX(300px); }
    100% { opacity: 1; -webkit-transform: translateX(0px); transform: translateX(0px); } }
  .r-slideOutFadeInAni-ns { -webkit-animation: r-slideOutFadeIn 0.5s forwards; animation: r-slideOutFadeIn 0.5s forwards; }
  @-webkit-keyframes r-slideOutFadeIn { 0% { opacity: 0; -webkit-transform: translateX(-300px); transform: translateX(-300px); }
    100% { opacity: 1; -webkit-transform: translateX(0px); transform: translateX(0px); } }
  @keyframes r-slideOutFadeIn { 0% { opacity: 0; -webkit-transform: translateX(-300px); transform: translateX(-300px); }
    100% { opacity: 1; -webkit-transform: translateX(0px); transform: translateX(0px); } } }
/* Custom styles for this project */
/*  ============================================================================= CUSTOM STYLES ============================================================================= */
.ng-cloak { display: none; }

.gold { outline: 1px solid gold; }

/* Component Specific Styles ====================================== */
.pbxx { padding-bottom: 20rem; }

.wi-500 { width: 500px; }

.mw-800 { max-width: 800px; }

.mw-950 { max-width: 950px; }

.mw-toolbar { max-width: 1600px; }

.ht-colorVariations { height: 150px; }

.bmn-colorVariations { margin-bottom: -4px; }

.ht-pinToolbar { height: 305px; }

.leftPanel { width: 330px; left: -330px; }

.color-filter { border-radius: 50%; width: 60px; height: 60px; }

.fw-700 { font-weight: 700; }

.bg-all-filter { background-color: rgba(255, 255, 255, 0.95); }

.bg-green-filter { background-color: #2ECC71; }

.bg-blue-filter { background-color: #3498DB; }

.bg-purple-filter { background-color: #9B59B6; }

.bg-pink-filter { background-color: #D2527F; }

.bg-gray-filter { background-color: #6C7A89; }

.bg-yellow-filter { background-color: #F2CA27; }

.bg-orange-filter { background-color: #E67E22; }

.bg-red-filter { background-color: #E74C3C; }

.wi-20-s { width: 20%; }

.wi-40-s { width: 40%; }

#Container .mix { display: none; }

.ht-75 { height: 75px; }

.lht-75 { line-height: 75px; }

.pinToolbar { position: fixed; top: 0; width: 100%; background: rgba(59, 63, 69, 0.95); }

/* Borders & Backgrounds ====================================== */
.border-thin { border-width: 1px; border-style: solid; }

.border-thick { border-width: 2px; border-style: solid; }

.border-white { border-color: #f2f2f2; }

.border-bottom-gray { border-bottom: 1px solid #eeeeee; }

.bg-white { background-color: white; }

.bg-light-gray { background-color: #eeeeee; }

.bg-dark { background-color: #3b3f45; }

.bg-darker { background-color: #333333; }

.bg-green { background-color: #03a678; }

.bg-panel { background-color: #405973; }

.bg-blur { background-color: rgba(64, 89, 115, 0.95); }

.bg-icon { width: 40px; height: 40px; -webkit-background-size: 40px 40px; background-size: 40px 40px; }

.bg-github-icon { background: url("../assets/img/icons/Github.svg") no-repeat; }

.bg-twitter-icon { background: url("../assets/img/icons/Twitter.svg") no-repeat; }

.bg-dribble-icon { background: url("../assets/img/icons/Dribble.svg") no-repeat; }

.bg-medium-icon { background: url("../assets/img/icons/Medium.svg") no-repeat; }

/* Global Styles (Anchor & Form Styles) ====================================== */
button { font-family: 'Montserrat', sans-serif; }

.link { border-bottom: 2px solid rgba(255, 255, 255, 0.5); }

.link:hover { border-bottom: 2px solid white; }

.link-drk { border-bottom: 2px solid rgba(0, 0, 0, 0.3); }

.link-drk:hover { border-bottom: 2px solid black; }

.link-drkn:hover { font-weight: 700; }

.hover-icon:hover { background: #374c63; }

.input { border: 1px solid white; border-radius: 3px; }

.inputColor { color: white; background-color: #3b3f45; }

.select { border: 1px solid white; border-radius: 3px; -webkit-appearance: none; cursor: pointer; background: url("../assets/img/icon-select.png") no-repeat 95% 50%; -webkit-background-size: 28px; background-size: 28px; }

.select-colorModel { border: none; -webkit-appearance: none; cursor: pointer; background: url("../assets/img/icon-select-drk.png") no-repeat 95% 50%; -webkit-background-size: 28px; background-size: 28px; }

.input:hover { background: rgba(255, 255, 255, 0.2); }

.select:hover { background: rgba(255, 255, 255, 0.2) url("../assets/img/icon-select.png") no-repeat 95% 50%; -webkit-background-size: 28px; background-size: 28px; }

.btn-primary { cursor: pointer; border: none; color: white; border-radius: 3px; background: #2280bf; }

.btn-primary:hover { background: #1a6394; }

.btn-secondary { margin-top: 10px; padding-top: .7rem; padding-bottom: .7rem; border: 4px solid #333333; border-radius: 5px; -webkit-appearance: none; cursor: pointer; }

.btn-secondary:hover { border: 4px solid #1a1a1a; background: #1a1a1a; }

.btn-outline { width: 250px; cursor: pointer; border-radius: 3px; background: none; }

.btn-white { border: 1px solid white; color: white; }

.btn-white:hover { background: rgba(255, 255, 255, 0.3); }

/* Shapes & Positioning ====================================== */
.circle { border-radius: 100%; }

.avatar { border: 2px solid #f2f2f2; }

/* Media Queries for Screen Size and Retina ====================================== */
@media only screen and (max-width: 40em) { .wi-half-s { width: 50%; }
  .mbm-s { margin-bottom: 1rem; }
  .dn-s { display: none; }
  .border-white-s { border: 1px solid white; }
  .border-dark-s { border-bottom: 1px solid #3b3f45; } }
@media (min-width: 22em) and (max-width: 40em) { .mrm-sm { margin-right: 1rem; } }
@media only screen and (min-width: 40em) { .pos-static-ns { position: static; }
  .di-ns { display: inline; }
  .db-ns { display: block; }
  .dt-ns { display: table; }
  .dtc-ns { display: table-cell; }
  .ht-full-ns { height: 100%; }
  .fr-ns { float: right; }
  .fl-ns { float: left; }
  .cf-ns { float: none; }
  .opacity-0-ns { opacity: 0; }
  .btn-outline-ns { width: 300px; cursor: pointer; border-radius: 3px; background: none; }
  .border-bottom-gray-ns { border-bottom: 1px solid #eeeeee; }
  .bg-screenIcon-ns { width: 345px; height: 246px; background: url("../assets/img/accessible-artwork.png") no-repeat; -webkit-background-size: 345px 246px; background-size: 345px 246px; }
  .arrow-right-ns { width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; }
  .pos-arrow-right-ns { position: absolute; top: 30px; right: -7px; }
  .arrow-down-ns { width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid white; }
  .pos-arrow-down-ns { position: absolute; bottom: -10px; left: 120px; }
  .pos-WCAGToolTip-ns { top: -200px; left: 13px; width: 250px; }
  .pos-WCAGselect-ns { top: 35px; }
  .fix-footer-ns { position: absolute; bottom: 0; }
  /* Tile Hover - border-fade */
  .border-fade-ns { -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: -webkit-box-shadow; transition-property: box-shadow; -webkit-transform: translateZ(0); transform: translateZ(0); -webkit-box-shadow: inset 0 0 0 2px #f2f2f2, 0 0 1px transparent; box-shadow: inset 0 0 0 2px #f2f2f2, 0 0 1px transparent; }
  .border-fade-ns:hover, .border-fade-ns:focus, .border-fade-ns:active { -webkit-box-shadow: inset -12px 0 0 #f2f2f2, 0 0 1px transparent, inset 0 -40px 0 #f2f2f2, 0 0 1px transparent, inset 0 12px 0 #f2f2f2, 0 0 1px transparent, inset 12px 0 0 #f2f2f2, 0 0 1px transparent; box-shadow: inset -12px 0 0 #f2f2f2, 0 0 1px transparent, inset 0 -40px 0 #f2f2f2, 0 0 1px transparent, inset 0 12px 0 #f2f2f2, 0 0 1px transparent, inset 12px 0 0 #f2f2f2, 0 0 1px transparent; }
  .border-fade-ns:focus .fadeInHover, .border-fade-ns:hover .fadeInHover { visibility: visible; opacity: 1; }
  .fadeInHover { visibility: hidden; opacity: 0; -webkit-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; }
  .border-selected-ns { -webkit-box-shadow: inset 0 0 0 2px #f2f2f2, 0 0 1px transparent; box-shadow: inset 0 0 0 2px #f2f2f2, 0 0 1px transparent; }
  /* Color Filter Circles Hover - border-fade */
  .border-fade-circle-ns { -webkit-transition-duration: 0.2s; transition-duration: 0.2s; -webkit-transition-property: -webkit-box-shadow; transition-property: box-shadow; -webkit-transform: translateZ(0); transform: translateZ(0); -webkit-box-shadow: inset 0 0 0 2px transparent, 0 0 1px transparent; box-shadow: inset 0 0 0 2px transparent, 0 0 1px transparent; }
  .active, .border-fade-circle-ns:hover, .border-fade-circle-ns:focus, .border-fade-circle-ns:active { -webkit-box-shadow: inset 0 0 0 9px #3b3f45, 0 0 1px transparent; box-shadow: inset 0 0 0 9px #3b3f45, 0 0 1px transparent; }
  .border-fade-circle-ns:hover.br-all-filter, .active.br-all-filter { border-color: rgba(255, 255, 255, 0.95); }
  .border-fade-circle-ns:hover.br-green-filter, .active.br-green-filter { border-color: #2ECC71; }
  .border-fade-circle-ns:hover.br-blue-filter, .active.br-blue-filter { border-color: #3498DB; }
  .border-fade-circle-ns:hover.br-purple-filter, .active.br-purple-filter { border-color: #9B59B6; }
  .border-fade-circle-ns:hover.br-pink-filter, .active.br-pink-filter { border-color: #D2527F; }
  .border-fade-circle-ns:hover.br-gray-filter, .active.br-gray-filter { border-color: #6C7A89; }
  .border-fade-circle-ns:hover.br-yellow-filter, .active.br-yellow-filter { border-color: #F2CA27; }
  .border-fade-circle-ns:hover.br-orange-filter, .active.br-orange-filter { border-color: #E67E22; }
  .border-fade-circle-ns:hover.br-red-filter, .active.br-red-filter { border-color: #E74C3C; } }
@media only screen and (min-width: 70em) { .ht-colorVariations-ns { height: 200px; min-width: 236px; }
  .span_2_of_12-ns { width: 16.667%; }
  .span_3_of_12-ns { width: 25%; }
  .span_4_of_12-ns { width: 33.333%; }
  .span_5_of_12-ns { width: 41.666%; } }
@media only screen and (min-width: 106em) { .span_1_of_12-x { width: 8.333%; } }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) { .bg-screenIcon-rs { width: 345px; height: 246px; background: url("../assets/img/accessible-artwork@2x.png") no-repeat; -webkit-background-size: 345px 246px; background-size: 345px 246px; } }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx), (max-width: 40em) { .bg-screenIcon { width: 241px; height: 172px; background: url("../assets/img/accessible-artwork@2x.png") no-repeat; -webkit-background-size: 241px 172px; background-size: 241px 172px; } }
@-moz-document url-prefix() { .select { border: 1px solid white; border-radius: 3px; cursor: pointer; background: none; }
  .select:hover { background: rgba(255, 255, 255, 0.2); }
  .select-colorModel { margin-top: 25px; border: none; cursor: pointer; background: none; } }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { .inputColor { color: black; background-color: white; }
  .select { border: 1px solid white; border-radius: 3px; -webkit-appearance: none; cursor: pointer; background: white url("../assets/img/icon-select-drk.png") no-repeat 95% 50%; -webkit-background-size: 28px; background-size: 28px; }
  .select::-ms-expand { display: none; }
  .select-colorModel { margin-top: 25px; }
  .select-colorModel::-ms-expand { display: none; } }
