/* Base styles for all projects */
/*  ============================================================================= NORMALIZE STYLES ============================================================================= */
/* ========================================================================== VARIABLES ========================================================================== */
/* Colors ========================================================================== */
/*  ============================================================================= BASE STYLES ============================================================================= */
body { margin: 0; font-family: 'Lato', sans-serif; font-size: 18px; font-weight: 300; }

.tac { text-align: center; }

.tal { text-align: left; }

.tar { text-align: right; }

.text-plain { text-decoration: none; }

.list-plain { list-style-type: none; }

.list-horz li { display: inline-block; }

.assistive-text { opacity: 0; width: 0; height: 0; display: block; }

/* LAYOUT & DISPLAY ============================================================================= */
.dn { display: none; }

.db { display: block; }

.dib { display: inline-block; }

.dt { display: table; }

.dtc { display: table-cell; }

.df { display: -webkit-flex; display: -ms-flexbox; display: flex; }

.df-wrap { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.df-child { -webkit-flex-basis: 250px; -ms-flex-preferred-size: 250px; flex-basis: 250px; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }

.pos-rel { position: relative; }

.pos-abs { position: absolute; }

.pos-fix { position: fixed; }

.top-0 { top: 0; }

.bot-0 { bottom: 0; }

.left-0 { left: 0; }

.right-0 { right: 0; }

.fl { float: left; }

.fr { float: right; }

.center { margin-left: auto; margin-right: auto; }

.vat { vertical-align: top; }

.vac { vertical-align: middle; }

.vab { vertical-align: bottom; }

.vam { position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

/* Display Types ============================================================================= */
.z-above { z-index: 10; }

.z-top { z-index: 999; }

.hidden { visibility: hidden; }

.opacity-0 { opacity: 0; }

.of-hidden { overflow-y: hidden; }

.pointer { cursor: default; }

/* SHAPES ============================================================================= */
button, input[type="submit"] { border: none; background-color: transparent; }

input, textarea { border: none; }

/* BORDER WIDTHS & STYLE ============================================================================= */
/* Create custom border colors in _styles.scss */
.ban { border: none !important; }

.bas { border-width: 1px; border-style: solid; }

.bls { border-left-width: 1px; border-left-style: solid; }

.brs { border-right-width: 1px; border-right-style: solid; }

.bts { border-top-width: 1px; border-top-style: solid; }

.bbs { border-bottom-width: 1px; border-bottom-style: solid; }

.br-s { border-radius: 3px; }

.br-m { border-radius: 5px; }

/*  GRID OF TWELVE   ============================================================================= */
/* Mobile First */
.wi-full, .span_12_of_12 { width: 100%; }

.span_11_of_12 { width: 100%; }

.span_10_of_12 { width: 100%; }

.span_9_of_12 { width: 100%; }

.span_8_of_12 { width: 100%; }

.span_7_of_12 { width: 100%; }

.span_6_of_12 { width: 100%; }

.span_5_of_12 { width: 100%; }

.span_4_of_12 { width: 100%; }

.span_3_of_12 { width: 100%; }

.span_2_of_12 { width: 100%; }

.span_1_of_12 { width: 100%; }

.ht-full { height: 100%; }

.wi-half { width: 50%; }

/*  12 Column grid for bigger THAN 30em - 480 PIXELS wide */
@media only screen and (min-width: 30em) { .wi-full, .span_12_of_12 { width: 100%; }
  .span_11_of_12 { width: 91.667%; }
  .span_10_of_12 { width: 83.333%; }
  .span_9_of_12 { width: 75%; }
  .span_8_of_12 { width: 66.666%; }
  .span_7_of_12 { width: 58.333%; }
  .span_6_of_12 { width: 50%; }
  .span_5_of_12 { width: 41.666%; }
  .span_4_of_12 { width: 33.333%; }
  .span_3_of_12 { width: 25%; }
  .span_2_of_12 { width: 16.667%; }
  .span_1_of_12 { width: 8.333%; } }
/* SPACING  ============================================================================= */
/* Padding */
.pan { padding: 0; }

.paxs { padding: .25rem; }

.pas { padding: .5rem; }

.pam { padding: 1rem; }

.pal { padding: 2rem; }

.pax { padding: 4rem; }

.pln { padding-left: 0; }

.plxs { padding-left: .25rem; }

.pls { padding-left: .5rem; }

.plm { padding-left: 1rem; }

.pll { padding-left: 2rem; }

.plx { padding-left: 4rem; }

.prn { padding-right: 0; }

.prxs { padding-right: .25rem; }

.prs { padding-right: .5rem; }

.prm { padding-right: 1rem; }

.prl { padding-right: 2rem; }

.prx { padding-right: 4rem; }

.pbn { padding-bottom: 0; }

.pbxs { padding-bottom: .25rem; }

.pbs { padding-bottom: .5rem; }

.pbm { padding-bottom: 1rem; }

.pbl { padding-bottom: 2rem; }

.pbx { padding-bottom: 4rem; }

.ptn { padding-top: 0; }

.ptxs { padding-top: .25rem; }

.pts { padding-top: .5rem; }

.ptm { padding-top: 1rem; }

.ptl { padding-top: 2rem; }

.ptx { padding-top: 4rem; }

.pvn { padding-top: 0; padding-bottom: 0; }

.pvxs { padding-top: .25rem; padding-bottom: .25rem; }

.pvs { padding-top: .5rem; padding-bottom: .5rem; }

.pvm { padding-top: 1rem; padding-bottom: 1rem; }

.pvl { padding-top: 2rem; padding-bottom: 2rem; }

.pvx { padding-top: 4rem; padding-bottom: 4rem; }

.phn { padding-left: 0; padding-right: 0; }

.phxs { padding-left: .25rem; padding-right: .25rem; }

.phs { padding-left: .5rem; padding-right: .5rem; }

.phm { padding-left: 1rem; padding-right: 1rem; }

.phl { padding-left: 2rem; padding-right: 2rem; }

.phx { padding-left: 4rem; padding-right: 4rem; }

/* Margins */
.man { margin: 0; }

.maxs { margin: .25rem; }

.mas { margin: .5rem; }

.mam { margin: 1rem; }

.mal { margin: 2rem; }

.max { margin: 4rem; }

.mln { margin-left: 0; }

.mlxs { margin-left: .25rem; }

.mls { margin-left: .5rem; }

.mlm { margin-left: 1rem; }

.mll { margin-left: 2rem; }

.mlx { margin-left: 4rem; }

.mrn { margin-right: 0; }

.mrxs { margin-right: .25rem; }

.mrs { margin-right: .5rem; }

.mrm { margin-right: 1rem; }

.mrl { margin-right: 2rem; }

.mrx { margin-right: 4rem; }

.mbn { margin-bottom: 0; }

.mbxs { margin-bottom: .25rem; }

.mbs { margin-bottom: .5rem; }

.mbm { margin-bottom: 1rem; }

.mbl { margin-bottom: 2rem; }

.mbx { margin-bottom: 4rem; }

.mtn { margin-top: 0; }

.mtxs { margin-top: .25rem; }

.mts { margin-top: .5rem; }

.mtm { margin-top: 1rem; }

.mtl { margin-top: 2rem; }

.mtx { margin-top: 4rem; }

.mvn { margin-top: 0; margin-bottom: 0; }

.mvxs { margin-top: .25rem; margin-bottom: .25rem; }

.mvs { margin-top: .5rem; margin-bottom: .5rem; }

.mvm { margin-top: 1rem; margin-bottom: 1rem; }

.mvl { margin-top: 2rem; margin-bottom: 2rem; }

.mvx { margin-top: 4rem; margin-bottom: 4rem; }

.mhn { margin-left: 0; margin-right: 0; }

.mhxs { margin-left: .25rem; margin-right: .25rem; }

.mhs { margin-left: .5rem; margin-right: .5rem; }

.mhm { margin-left: 1rem; margin-right: 1rem; }

.mhl { margin-left: 2rem; margin-right: 2rem; }

.mhx { margin-left: 4rem; margin-right: 4rem; }

/* OTHER PEOPLE'S CODE ============================================================================= */
/** For modern browsers 1. The space content is one way to avoid an Opera bug when the contenteditable attribute is included anywhere else in the document. Otherwise it causes space to appear at the top and bottom of elements that are clearfixed. 2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements. */
.cf:before, .cf:after { content: " "; /* 1 */ display: table; /* 2 */ }

.cf:after { clear: both; }

/** For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
.cf { *zoom: 1; }

/** Paul Irish Border Box Sizing Fixes padding, border, etc. so that they don't affect the elements' real width  */
* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.no-border-box { box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; }

/*  ============================================================================= TYPOGRAPHY STYLES ============================================================================= */
h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', sans-serif; }

h1, .f1 { font-size: 2rem; }

h2, .f2 { font-size: 1.5rem; }

h3, .f3 { font-size: 1rem; }

h4, .f4 { font-size: 1rem; }

h5, .f5 { font-size: 0.8rem; }

h6, .f6 { font-size: 0.5rem; }

.caps { text-transform: uppercase; }

.italic { font-style: italic; }

.fw-light { font-weight: 200; }

.fw-normal { font-weight: 400; }

.fw-bold { font-weight: 800; }

.text-white { color: #fff; }

.text-green { color: #03a678; }

.text-red { color: #d91e18; }

a { text-decoration: none; color: inherit; }

@media only screen and (min-width: 30em) { h1, .f1-ns { font-size: 3rem; }
  h2, .f2-ns { font-size: 2rem; }
  h3, .f3-ns { font-size: 1.5rem; }
  h4, .f4-ns { font-size: 1rem; }
  h5, .f5-ns { font-size: 0.8rem; }
  h6, .f6-ns { font-size: 0.5rem; } }
/* Custom styles for this project */
/*  ============================================================================= CUSTOM STYLES ============================================================================= */
.ng-cloak { display: none; }

/* Component Specific Styles ====================================== */
.mw-800 { max-width: 800px; }

.mw-2100 { max-width: 2100px; }

.ht-130 { height: 130px; }

.leftPanel { width: 287px; left: -287px; }

.ht-colorVariations { height: 250px; }

#Container .mix { display: none; }

.swatch { width: 86px; height: 86px; }

.span_3_of_12-dib { width: 50%; }

.span_2_of_12-dib { width: 50%; }

.toolbar-2 { display: none; }

.toolbar-3 { display: none; }

.pr-icon { padding-right: 2.5rem; }

.pt-tiles { padding-top: 5rem; }

.fix-toolbar { position: fixed; top: 0; width: 100%; background: rgba(59, 63, 69, 0.9); }

/* Borders & Backgrounds ====================================== */
.border-white { border: 2px solid #f2f2f2; }

.border-bottom-gray { border-bottom: 1px solid #cccccc; }

.bg-white { background-color: white; }

.bg-light-gray { background-color: rgba(0, 0, 0, 0.1); }

.bg-light-gray2 { background-color: rgba(0, 0, 0, 0.2); }

.bg-dark { background-color: #3b3f45; }

.bg-darker { background-color: #333333; }

.bg-green { background-color: #03a678; }

.bg-panel { background-color: #405973; }

.bg-blur { background-color: rgba(64, 89, 115, 0.95); }

.bg-colorFilters { background-color: #333333; }

.bg-screenIcon { width: 138px; height: 110px; background: url("../assets/img/accessible-artwork.png") no-repeat; -webkit-background-size: 138px 110px; background-size: 138px 110px; }

/* Global Styles (Anchor & Form Styles) ====================================== */
button { font-family: 'Montserrat', sans-serif; }

.link { font-weight: bold; padding-top: .25rem; padding-bottom: .25rem; border-bottom: 2px solid rgba(255, 255, 255, 0.5); }

.link-green:hover { background: #038d66; border-bottom: 2px solid rgba(255, 255, 255, 0); }

.link-navy:hover { background: #374c63; border-bottom: 2px solid rgba(255, 255, 255, 0); }

.input { border: 1px solid white; border-radius: 3px; }

.select { border: 1px solid white; border-radius: 3px; -webkit-appearance: none; cursor: pointer; background: url("../assets/img/icon-select.png") no-repeat 95% 50%; -webkit-background-size: 28px; background-size: 28px; }

.input:hover { background: rgba(255, 255, 255, 0.2); }

.select:hover { background: rgba(255, 255, 255, 0.2) url("../assets/img/icon-select.png") no-repeat 95% 50%; -webkit-background-size: 28px; background-size: 28px; }

.btn-primary { cursor: pointer; border: none; color: white; border-radius: 3px; background: #2280bf; }

.btn-primary:hover { background: #1a6394; }

.btn-secondary { border: 4px solid #333333; border-radius: 5px; -webkit-appearance: none; cursor: pointer; }

.btn-secondary:hover { border: 4px solid #1a1a1a; background: #1a1a1a; }

.btn-outline { width: 300px; cursor: pointer; border: 1px solid white; color: white; border-radius: 3px; background: none; }

.btn-outline:hover { border: 1px solid #2280bf; background: #2280bf; }

/* Animations ====================================== */
.ease { -webkit-transition: all .5s ease; transition: all .5s ease; }

/* Color Bar Filter */
.slideToggle { overflow-y: hidden; -webkit-transition-property: all; transition-property: all; -webkit-transition-duration: .2s; transition-duration: .2s; -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1); transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

.mh-auto { max-height: 53px; }

.mh-none { max-height: 0; }

/* Instruction screens */
.fadeInAni { -webkit-animation: fadeIn 0.4s forwards; animation: fadeIn 0.4s forwards; }

@-webkit-keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }
/* slide out left panel */
.slideOut-left.slideOut-open { left: 0px; }

.slideOut { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

/* Toolbar Animations - shimmer */
.shimmer { background: -webkit-gradient(linear, left top, right top, color-stop(0, #4d4d4d), color-stop(0.4, #4d4d4d), color-stop(0.5, white), color-stop(0.6, #4d4d4d), color-stop(1, #4d4d4d)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; -webkit-animation-name: shimmerAni; -webkit-animation-duration: 2s; -webkit-animation-delay: 200ms; -webkit-animation-timing-function: ease-out; width: 200%; }

@-webkit-keyframes shimmerAni { 0% { background-position: -458px 0; }
  100% { background-position: 458px 0; } }
/* Shapes & Positioning ====================================== */
.circle { border-radius: 100%; }

.avatar { border: 2px solid #f2f2f2; }

.arrow-up { width: 0; height: 0; border-left: 13px solid transparent; border-right: 13px solid transparent; border-bottom: 13px solid #333333; }

.arrow-left { width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; }

.pos-arrow-left { position: absolute; top: 30px; left: -7px; }

.pos-arrow-up { position: absolute; bottom: -20px; left: 40px; }

/* Media Queries for Screen Size and Retina ====================================== */
@media only screen and (min-width: 30em) { .prl-ns { padding-right: 2rem; }
  .prm-ns { padding-right: 1rem; }
  .plm-ns { padding-left: 1rem; }
  .dt-ns { display: table; }
  .dtc-ns { display: table-cell; }
  .ht-full-ns { height: 100%; }
  .ht-toolbar-ns { height: 86px; }
  .vam-ns { position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
  .cf-ns { float: none; }
  .span_3_of_12-dib { width: 25%; }
  .span_2_of_12-dib { width: 16.667%; }
  .toolbar-1ns { width: 100%; }
  .toolbar-2ns { display: block; width: auto; float: left; margin-top: 0.5rem; }
  .toolbar-3ns { display: block; width: auto; float: right; margin-top: 2rem; }
  .bg-screenIcon-ns { width: 345px; height: 246px; background: url("../assets/img/accessible-artwork.png") no-repeat; -webkit-background-size: 345px 246px; background-size: 345px 246px; }
  /* Tile Hover - expand */
  .tile-hover-ns { -webkit-transition: all .1s ease-in; transition: all .1s ease-in; }
  .tile-hover-ns:hover { -webkit-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05); -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5); }
  /* Tile Hover - border-fade */
  .border-fade-ns { -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: -webkit-box-shadow; transition-property: box-shadow; -webkit-transform: translateZ(0); transform: translateZ(0); -webkit-box-shadow: inset 0 0 0 2px #f2f2f2, 0 0 1px transparent; box-shadow: inset 0 0 0 2px #f2f2f2, 0 0 1px transparent; /* Hack to improve aliasing on mobile/tablet devices */ }
  .border-selected, .border-fade-ns:hover, .border-fade-ns:focus, .border-fade:active { -webkit-box-shadow: inset 0 0 0 12px #f2f2f2, 0 0 1px transparent; box-shadow: inset 0 0 0 12px #f2f2f2, 0 0 1px transparent; /* Hack to improve aliasing on mobile/tablet devices */ } }
@media only screen and (min-width: 106em) { .toolbar-1x { width: 60%; margin-left: 20%; float: left; }
  .toolbar-2x { width: 20%; margin-left: -80%; float: left; }
  .toolbar-3x { width: auto; float: right; }
  .pos-arrow-up-x { position: absolute; bottom: -28px; left: 40px; } }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { .bg-screenIcon-rs { width: 345px; height: 246px; background: url("../assets/img/accessible-artwork@2x.png") no-repeat; -webkit-background-size: 345px 246px; background-size: 345px 246px; } }
.ht-toolbarContainer { height: 195px; width: 100%; }
