/* Base styles for all projects */
/*  ============================================================================= NORMALIZE STYLES ============================================================================= */
/* ========================================================================== VARIABLES ========================================================================== */
/* Colors ========================================================================== */
/*  ============================================================================= BASE STYLES ============================================================================= */
body { margin: 0; font-family: 'Roboto Slab', serif; font-size: 16px; }

.tac { text-align: center; }

.tal { text-align: left; }

.tar { text-align: right; }

.text-plain { text-decoration: none; }

.list-plain { list-style-type: none; }

.list-horz li { display: inline-block; }

/* LAYOUT & DISPLAY ============================================================================= */
.dn { display: none; }

.db { display: block; }

.dib { display: inline-block; }

.dt { display: table; }

.dtc { display: table-cell; }

.df { display: -webkit-flex; display: -ms-flexbox; display: flex; }

.df-wrap { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.df-child { -webkit-flex-basis: 250px; -ms-flex-preferred-size: 250px; flex-basis: 250px; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }

.pos-rel { position: relative; }

.pos-abs { position: absolute; }

.pos-fix { position: fixed; }

.top-0 { top: 0; }

.bot-0 { bottom: 0; }

.left-0 { left: 0; }

.right-0 { right: 0; }

.fl { float: left; }

.fr { float: right; }

.center { margin-left: auto; margin-right: auto; }

.vat { vertical-align: top; }

.vac { vertical-align: middle; }

.vab { vertical-align: bottom; }

/* Display Types ============================================================================= */
.z-above { z-index: 10; }

.z-top { z-index: 999; }

.hidden { visibility: hidden; }

.opacity-0 { opacity: 0; }

.pointer { cursor: default; }

/* SHAPES ============================================================================= */
button, input[type="submit"] { border: none; background-color: transparent; }

input, textarea { border: none; }

input:focus, textarea:focus { outline: none; }

/* BORDER WIDTHS & STYLE ============================================================================= */
/* Create custom border colors in _styles.scss */
.ban { border: none !important; }

.bas { border-width: 1px; border-style: solid; }

.bls { border-left-width: 1px; border-left-style: solid; }

.brs { border-right-width: 1px; border-right-style: solid; }

.bts { border-top-width: 1px; border-top-style: solid; }

.bbs { border-bottom-width: 1px; border-bottom-style: solid; }

.br-s { border-radius: 3px; }

.br-m { border-radius: 5px; }

/*  GRID OF TWELVE   ============================================================================= */
/* Mobile First */
.wi-full, .span_12_of_12 { width: 100%; }

.span_11_of_12 { width: 100%; }

.span_10_of_12 { width: 100%; }

.span_9_of_12 { width: 100%; }

.span_8_of_12 { width: 100%; }

.span_7_of_12 { width: 100%; }

.span_6_of_12 { width: 100%; }

.span_5_of_12 { width: 100%; }

.span_4_of_12 { width: 100%; }

.span_3_of_12 { width: 100%; }

.span_2_of_12 { width: 100%; }

.span_1_of_12 { width: 100%; }

.ht-full { height: 100%; }

/*  12 Column grid for bigger THAN 30em - 480 PIXELS wide */
@media only screen and (min-width: 30em) { .span_12_of_12 { width: 100%; }
  .span_11_of_12 { width: 91.46%; }
  .span_10_of_12 { width: 83%; }
  .span_9_of_12 { width: 74.54%; }
  .span_8_of_12 { width: 66.08%; }
  .span_7_of_12 { width: 57.62%; }
  .span_6_of_12 { width: 49.16%; }
  .span_5_of_12 { width: 40.7%; }
  .span_4_of_12 { width: 32.24%; }
  .span_3_of_12 { width: 23.78%; }
  .span_2_of_12 { width: 15.32%; }
  .span_1_of_12 { width: 6.86%; } }
/* SPACING  ============================================================================= */
/* Padding */
.pan { padding: 0; }

.paxs { padding: .25rem; }

.pas { padding: .5rem; }

.pam { padding: 1rem; }

.pal { padding: 2rem; }

.pax { padding: 4rem; }

.pln { padding-left: 0; }

.plxs { padding-left: .25rem; }

.pls { padding-left: .5rem; }

.plm { padding-left: 1rem; }

.pll { padding-left: 2rem; }

.plx { padding-left: 4rem; }

.prn { padding-right: 0; }

.prxs { padding-right: .25rem; }

.prs { padding-right: .5rem; }

.prm { padding-right: 1rem; }

.prl { padding-right: 2rem; }

.prx { padding-right: 4rem; }

.pbn { padding-bottom: 0; }

.pbxs { padding-bottom: .25rem; }

.pbs { padding-bottom: .5rem; }

.pbm { padding-bottom: 1rem; }

.pbl { padding-bottom: 2rem; }

.pbx { padding-bottom: 4rem; }

.ptn { padding-top: 0; }

.ptxs { padding-top: .25rem; }

.pts { padding-top: .5rem; }

.ptm { padding-top: 1rem; }

.ptl { padding-top: 2rem; }

.ptx { padding-top: 4rem; }

.pvn { padding-top: 0; padding-bottom: 0; }

.pvxs { padding-top: .25rem; padding-bottom: .25rem; }

.pvs { padding-top: .5rem; padding-bottom: .5rem; }

.pvm { padding-top: 1rem; padding-bottom: 1rem; }

.pvl { padding-top: 2rem; padding-bottom: 2rem; }

.pvx { padding-top: 4rem; padding-bottom: 4rem; }

.phn { padding-left: 0; padding-right: 0; }

.phxs { padding-left: .25rem; padding-right: .25rem; }

.phs { padding-left: .5rem; padding-right: .5rem; }

.phm { padding-left: 1rem; padding-right: 1rem; }

.phl { padding-left: 2rem; padding-right: 2rem; }

.phx { padding-left: 4rem; padding-right: 4rem; }

/* Margins */
.man { margin: 0; }

.maxs { margin: .25rem; }

.mas { margin: .5rem; }

.mam { margin: 1rem; }

.mal { margin: 2rem; }

.max { margin: 4rem; }

.mln { margin-left: 0; }

.mlxs { margin-left: .25rem; }

.mls { margin-left: .5rem; }

.mlm { margin-left: 1rem; }

.mll { margin-left: 2rem; }

.mlx { margin-left: 4rem; }

.mrn { margin-right: 0; }

.mrxs { margin-right: .25rem; }

.mrs { margin-right: .5rem; }

.mrm { margin-right: 1rem; }

.mrl { margin-right: 2rem; }

.mrx { margin-right: 4rem; }

.mbn { margin-bottom: 0; }

.mbxs { margin-bottom: .25rem; }

.mbs { margin-bottom: .5rem; }

.mbm { margin-bottom: 1rem; }

.mbl { margin-bottom: 2rem; }

.mbx { margin-bottom: 4rem; }

.mtn { margin-top: 0; }

.mtxs { margin-top: .25rem; }

.mts { margin-top: .5rem; }

.mtm { margin-top: 1rem; }

.mtl { margin-top: 2rem; }

.mtx { margin-top: 4rem; }

.mvn { margin-top: 0; margin-bottom: 0; }

.mvxs { margin-top: .25rem; margin-bottom: .25rem; }

.mvs { margin-top: .5rem; margin-bottom: .5rem; }

.mvm { margin-top: 1rem; margin-bottom: 1rem; }

.mvl { margin-top: 2rem; margin-bottom: 2rem; }

.mvx { margin-top: 4rem; margin-bottom: 4rem; }

.mhn { margin-left: 0; margin-right: 0; }

.mhxs { margin-left: .25rem; margin-right: .25rem; }

.mhs { margin-left: .5rem; margin-right: .5rem; }

.mhm { margin-left: 1rem; margin-right: 1rem; }

.mhl { margin-left: 2rem; margin-right: 2rem; }

.mhx { margin-left: 4rem; margin-right: 4rem; }

/* OTHER PEOPLE'S CODE ============================================================================= */
/** For modern browsers 1. The space content is one way to avoid an Opera bug when the contenteditable attribute is included anywhere else in the document. Otherwise it causes space to appear at the top and bottom of elements that are clearfixed. 2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements. */
.cf:before, .cf:after { content: " "; /* 1 */ display: table; /* 2 */ }

.cf:after { clear: both; }

/** For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
.cf { *zoom: 1; }

/** Paul Irish Border Box Sizing Fixes padding, border, etc. so that they don't affect the elements' real width  */
* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.no-border-box { box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; }

/*  ============================================================================= TYPOGRAPHY STYLES ============================================================================= */
h1, .f1 { font-size: 3rem; }

h2, .f2 { font-size: 2rem; }

h3, .f3 { font-size: 1.5rem; }

h4, .f4 { font-size: 1rem; }

h5, .f5 { font-size: 0.8rem; }

h6, .f6 { font-size: 0.5rem; }

.caps { text-transform: uppercase; }

.italic { font-style: italic; }

.fw-light { font-weight: 200; }

.fw-normal { font-weight: 400; }

.fw-bold { font-weight: 800; }

.text-white { color: #fff; }

.text-green { color: #26a65b; }

.text-red { color: #d91e18; }

a { text-decoration: none; color: inherit; }

/* Custom styles for this project */
/*  ============================================================================= CUSTOM STYLES ============================================================================= */
/* Component Specific Styles ====================================== */
.mw-1000 { max-width: 1000px; }

.ht-130 { height: 130px; }

.leftPanel { width: 287px; left: -287px; }

.ht-toolbar { height: 86px; }

.wi-primaryColors { width: 140px; }

.ht-colorVariations { height: 250px; }

.bg-white { background-color: white; }

.bg-dark { background-color: #3b3f45; }

.bg-panel { background-color: #405973; }

.bg-blur { background-color: rgba(64, 89, 115, 0.95); }

.bg-blur2 { background-color: rgba(52, 152, 219, 0.95); }

.bg-colorFilters { background-color: #333333; }

.border-white { border: 2px solid #f2f2f2; }

.border-selected { border: 12px solid #f2f2f2; }

#Container .mix { display: none; }

.swatch { width: 86px; height: 86px; }

.mt-colorFilters { margin-top: 1.5rem; }

/* Anchor & Form Styles ====================================== */
.link:hover { color: #64b0e3; }

.input { border: 1px solid white; border-radius: 3px; }

.select { border: 1px solid white; border-radius: 3px; -webkit-appearance: none; padding-top: .5rem; padding-bottom: .5rem; padding-left: .5rem; padding-right: 30px; cursor: pointer; }

.form-icon { position: absolute; right: 0; margin-right: 10px; bottom: 7px; }

.button-blue { width: 282px; cursor: pointer; border: none; color: white; border-radius: 3px; background: #2280bf; }

.button-white { width: 282px; cursor: pointer; border: 1px solid white; color: white; border-radius: 3px; background: none; }

/* Animations ====================================== */
.ease { -webkit-transition: all .5s ease; transition: all .5s ease; }

.slideToggle { overflow-y: hidden; -webkit-transition-property: all; transition-property: all; -webkit-transition-duration: .2s; transition-duration: .2s; -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1); transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

.mh-auto { max-height: 53px; }

.mh-none { max-height: 0; }

.fadeInAni { -webkit-animation: fadeIn 0.3s forwards; animation: fadeIn 0.3s forwards; }

.fadeInAniDelay { -webkit-animation: fadeIn 1s 0.4s forwards; animation: fadeIn 1s 0.4s forwards; }

.fadeOutAni { -webkit-animation: fadeOut 0s forwards; animation: fadeOut 0s forwards; }

@-webkit-keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }
@-webkit-keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }
/* slide out left panel */
.slideOut-left.slideOut-open { left: 0px; }

.slideOut { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

/* Shapes & Positioning ====================================== */
.circle { border-radius: 100%; }

.avatar { border: 2px solid #f2f2f2; }

.arrow-up { width: 0; height: 0; border-left: 13px solid transparent; border-right: 13px solid transparent; border-bottom: 13px solid #333333; }

.arrow-left { width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; }

.pos-arrow-left { position: absolute; top: 30px; left: -7px; }

.pos-arrow-up { position: absolute; bottom: -26px; left: 60px; }

.pos-refresh { bottom: 20px; right: 20px; }

.pos-info { bottom: 20px; left: 20px; }
