//IE only styles
.select {  border: 1px solid white; border-radius: 3px; cursor: pointer; background: none; }
.select:hover {  background: rgba(255,255,255,.2); }
.select-colorModel {  margin-top: 25px; border: none; cursor: pointer; background: none;  }
