IFRAME#extFrame{
	HEIGHT:1000px;
	WIDTH:776px;
	Z-INDEX:0;
	BORDER:0px;
	MARGIN:10px 0px 0px -30px;
	OVERFLOW-X:hidden;
	OVERFLOW-Y:hidden;
}

div#content-intro {
	padding-bottom:15px;
}

div#content-body-container {
	float:left;
	display:inline;
	padding-left:5px;
	padding-right:30px;
	} @media print { div#content-body-container{ float:none; } } /* to allow page-break-* on mozilla */

	div#content-body {
		float:left;
		/*width:520px;*/
		padding:0;
		/*background:transparent url(../images/divider-horizontal-dotted.gif) left top repeat-x;*/
		} @media print { div#content-body { float:none; } } /* to allow page-break-* on mozilla */

	div#content-body h3{
		color:#666666;
		font-size:15px;
		padding-bottom:10px;
		padding-top:15px;
		} @media print { div#content-body { padding-top:0; margin-top:-10px; } }

	div#content-body h4{
		color:#000000;
		font-size:12px;
		padding-bottom:10px;
		padding-top:10px;
		margin-top:-10px;
		} @media print { div#content-body h4{ padding-top:0; margin-top:-10px; } }

	div#content-container {
		float:left;
		margin:0 0 0 0;
		/*width:520px;*/
	}
