/*  =============================================================================
 *  CUSTOM STYLES
 *  ============================================================================= */


/*
 * Component Specific Styles
 * ====================================== */
.mw-800 { max-width: 800px; }
.mw-1400 { max-width: 1400px; }
.ht-130 { height: 130px; }
.leftPanel { width: 287px; left: -287px; }
.wi-primaryColors { width: 140px; }
.ht-colorVariations { height: 250px; }

.bg-white { background-color: white; }
.bg-dark { background-color: $dark-gray; }
.bg-darker { background-color: $near-black;}
.bg-green { background-color: $green; }
.bg-panel { background-color: $navy; }
.bg-blur { background-color: $navy-blur; }
.bg-blur2 { background-color: $blue-blur; }
.bg-colorFilters { background-color: $darker-gray; }
.bg-previewScreen {
  width: 345px;
  height: 246px;
  background: url('../assets/img/accessible-artwork.png') no-repeat;
  background-size: 345px 246px;
}

.border-white { border: 2px solid $near-white; }
.border-bottom-gray { border-bottom: 1px solid $light-gray; }
.border-selected {
  border: 12px solid $near-white;
}

#Container .mix { display: none; }
.swatch { width: 86px; height: 86px; }
.mt-colorFilters { margin-top: 1.5rem; }


/*
 * Anchor & Form Styles
 * ====================================== */
.link:hover { color: lighten($blue, 20%); }

.input { border: 1px solid white; border-radius: 3px; }

.select-border-white { border: 1px solid white; }
.select { border-radius: 3px; -webkit-appearance: none; padding-top: .5rem; padding-bottom: .5rem; padding-left: .5rem; padding-right: 30px; cursor: pointer; }
.form-icon { position: absolute; right: 0; margin-right: 10px; bottom: 7px; }
.button-blue { width: 282px; cursor: pointer; border: none; color: white; border-radius: 3px; background: $blue; }
.button-white { width: 282px; cursor: pointer; border: 1px solid white; color: white; border-radius: 3px; background: none; }



/*
 * Animations
 * ====================================== */
.ease { transition: all .3s ease; }
.slideToggle {
	overflow-y: hidden;
	transition-property: all;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.mh-auto { max-height: 53px; }
.mh-none { max-height: 0; }

.fadeInAni { animation: fadeIn 0.3s forwards; }
.fadeInAniDelay { animation: fadeIn 1s 0.4s forwards; }
.fadeOutAni { animation: fadeOut 0s forwards; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* slide out left panel */
.slideOut-left.slideOut-open { left: 0px; }
.slideOut {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}





/*
 * Shapes & Positioning
 * ====================================== */
.circle { border-radius: 100%; }
.avatar { border: 2px solid $near-white; }

.arrow-up {
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 13px solid $darker-gray;
}
.arrow-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.pos-arrow-left {
  position: absolute;
  top: 30px;
  left: -7px;
}
.pos-arrow-up {
  position: absolute;
  bottom: -26px;
  left: 40px;
}
.pos-refresh {
  bottom: 20px;
  right: 20px;
}
.pos-info {
  bottom: 20px;
  left: 20px;
}



// Larger than phone size screens
@media only screen and (min-width: 30em) {
  .mtx-ns  { margin-top: 4rem; }
  .dt-ns { display: table; }
  .dtc-ns { display: table-cell; }
  .ht-full-ns { height: 100%; }
  .ht-toolbar-ns { height: 86px; }
  .bg-white-ns { background-color: white; }
  .vam-ns {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

// Retina screen
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .bg-previewScreen-rs {
    background: url('../assets/img/accessible-artwork@2x.png') no-repeat;
    background-size: 345px 246px;
  }
}
