/*  =============================================================================
 *  CUSTOM STYLES
 *  ============================================================================= */
.ng-cloak { display:none; }

/*
 * Component Specific Styles
 * ====================================== */
.ht-toolbarContainer { height: 195px; width: 100%; }
.pbxx { padding-bottom: 20rem; }
.mw-800 { max-width: 800px; }
.mw-2100 { max-width: 2100px; }
.ht-130 { height: 130px; }
.leftPanel { width: 330px; left: -330px; }
.ht-colorVariations { height: 250px; }

#Container .mix { display: none; }
.swatch { width: 86px; height: 86px; }

.span_3_of_12-dib  { width: 50%; }
.span_2_of_12-dib  { width: 50%; }

.toolbar-2 { display: none; }
.toolbar-3 { display: none; }

.pr-icon { padding-right: 2.5rem; }
.pt-tiles { padding-top: 5rem; }

.fix-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(59,63,69,.95);
}
.fix-footer {
  position: absolute;
  bottom: 0;
}


/*
 * Borders & Backgrounds
 * ====================================== */
.border-white { border: 2px solid $near-white; }
.border-bottom-gray { border-bottom: 1px solid $light-gray; }

.bg-white { background-color: white; }
.bg-light-gray { background-color: $light-gray; }
.bg-gray { background-color: $gray; }
.bg-dark { background-color: $dark-gray; }
.bg-darker { background-color: $near-black;}
.bg-green { background-color: $green; }
.bg-panel { background-color: $navy; }
.bg-blur { background-color: $navy-blur; }
.bg-colorFilters { background-color: $darker-gray; }
.bg-screenIcon {
  width: 138px  ;
  height: 110px;
  background: url('../assets/img/accessible-artwork.png') no-repeat;
  background-size: 138px 110px;
}



/*
 * Global Styles (Anchor & Form Styles)
 * ====================================== */
button { font-family: 'Montserrat', sans-serif; }
.link { font-weight: bold; padding-top: .25rem; padding-bottom: .25rem; border-bottom: 2px solid rgba(255,255,255,.5); }
.link-green:hover { background: darken($green, 5%); border-bottom: 2px solid rgba(255,255,255,0); }
.link-navy:hover { background: darken($navy, 5%); border-bottom: 2px solid rgba(255,255,255,0); }
.ss-delete:hover { background: darken($navy, 5%);}

.input { border: 1px solid white; border-radius: 3px; }
.select {  border: 1px solid white; border-radius: 3px; -webkit-appearance: none; cursor: pointer; background: url("../assets/img/icon-select.png") no-repeat 95% 50%; background-size: 28px; }
.input:hover {  background: rgba(255,255,255,.2); }
.select:hover {  background: rgba(255,255,255,.2) url("../assets/img/icon-select.png") no-repeat 95% 50%; background-size: 28px; }

.btn-primary { cursor: pointer; border: none; color: white; border-radius: 3px; background: $blue; }
.btn-primary:hover { background: darken($blue, 10%)};
.btn-secondary { border: 4px solid $darker-gray; border-radius: 5px; -webkit-appearance: none; cursor: pointer; }
.btn-secondary:hover { border: 4px solid darken($darker-gray, 10%); background: darken($darker-gray, 10%)}
.btn-outline { width: 300px; cursor: pointer; border-radius: 3px; background: none; }
.btn-white { border: 1px solid white; color: white; }
.btn-white:hover { background: rgba(255,255,255,.3);}
.btn-dark { border: 1px solid $darker-gray; color: $darker-gray; }
.btn-dark:hover { background: rgba(59,63,69,.2);}



/*
 * Shapes & Positioning
 * ====================================== */
.circle { border-radius: 100%; }
.avatar { border: 2px solid $near-white; }

.arrow-up {
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 13px solid $darker-gray;
}
.arrow-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.pos-arrow-left {
  position: absolute;
  top: 30px;
  left: -7px;
}
.pos-arrow-up {
  position: absolute;
  bottom: -20px;
  left: 40px;
}
.pos-tooltip {
  top: -150px;
}



/*
 * Media Queries for Screen Size and Retina
 * ====================================== */
// Larger than phone size screens
@media only screen and (min-width: 30em) {
  .prl-ns  { padding-right: 2rem;   }
  .prm-ns  { padding-right: 1rem;   }
  .plm-ns  { padding-left: 1rem;   }

  .dt-ns { display: table; }
  .dtc-ns { display: table-cell; }
  .ht-full-ns { height: 100%; }
  .ht-toolbar-ns { height: 86px; }
  .vam-ns {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .cf-ns { float: none; }

  .span_3_of_12-dib  { width: 25%; }
  .span_2_of_12-dib  { width: 16.667%; }

  .toolbar-1ns { width: 100%; }
  .toolbar-2ns { display: block; width: auto; float: left; margin-top: 0.5rem; }
  .toolbar-3ns { display: block; width: auto; float: right; margin-top: 2rem; }

  .bg-screenIcon-ns {
    width: 345px;
    height: 246px;
    background: url('../assets/img/accessible-artwork.png') no-repeat;
    background-size: 345px 246px;
  }

  /* Tile Hover - expand */
  .tile-hover-ns { transition: all .1s ease-in; }
  .tile-hover-ns:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  }

  /* Tile Hover - border-fade */
  .border-fade-ns {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: inset 0 0 0 2px $near-white, 0 0 1px rgba(0, 0, 0, 0);
    /* Hack to improve aliasing on mobile/tablet devices */
  }
  .border-selected, .border-fade-ns:hover, .border-fade-ns:focus, .border-fade:active {
    box-shadow: inset 0 0 0 12px $near-white, 0 0 1px rgba(0, 0, 0, 0);
    /* Hack to improve aliasing on mobile/tablet devices */
  }
}

// Larger than 1440px Laptop size screens
@media only screen and (min-width: 106em) {
  .toolbar-1x { width: 60%; margin-left: 20%; float: left; }
  .toolbar-2x { width: 20%; margin-left: -80%; float: left; }
  .toolbar-3x { width: auto; float: right; }
  .pos-arrow-up-x {
    position: absolute;
    bottom: -28px;
    left: 40px;
  }
}

// Retina screen
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .bg-screenIcon-rs {
    width: 345px;
    height: 246px;
    background: url('../assets/img/accessible-artwork@2x.png') no-repeat;
    background-size: 345px 246px;
  }
}



