/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */
$darker-gray: #333333;
$dark-gray: #3B3F45;
$light-gray: #ccc;
$blue: #2280BF;
$green: #26A65B;
$red: #D91E18;
