/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */
$darker-gray: #333333;
$dark-gray: #3B3F45;
$light-gray: #eeeeee;
$gray: #b3b3b3;
$blue: #2280BF;
$navy: #405973;
$navy-blur: rgba(64,89,115,0.95);
$green: #008040;
$red: #D91E18;
$near-white: #F2F2F2;
$near-black: #333333;
