/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */
$dark-gray: #3B3F45;
$light-gray: #ccc;
$blue: #2280BF;
