<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Accessible Color Palette</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body ng-controller="appController">

    <div>
      <label for="fontSize">Enter Font-Size in px:</label>
      <input id="fontSize" type="text" name="textfield" ng-model="fontSize" ng-keypress="getRatio_fsChange($event)" />
    </div>

    <div>
      <span>Select WCAG Standard</span>
      <input id="AA" type="radio" ng-model="WCAGlevel" value="AA" class="db" ng-change="getRatio_levelChange()" />
      <label for="AA">AA</label>
      <input id="AAA" type="radio" ng-model="WCAGlevel" value="AAA" class="db" ng-change="getRatio_levelChange()" />
      <label for="AAA">AAA</label>
    </div>

    <div>
      <label for="backgroundColor">Enter Background Color</label>
      <input id="backgroundColor" type="text" name="textfield" value="" placeholder="Type hex or rgb value" />
    </div>

    <ul>
      <li ng-repeat="color in colorCategories" class="{{color.className}} sampleBackground">{{color.name}}</li>
    </ul>

    <script type="text/javascript" src="contrastCalculator.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
