<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Accessible Color Palette</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href="assets/fonts/ss-gizmo/ss-gizmo.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body ng-controller="appController">
    <h2 class="tac">Logo Here</h2>
    <div class="tac phs">
      <label for="WCAGratio">WCAG Ratio</label>
      <p class="dib man">{{currentRatio}}</p>
    </div>
    <form accept-charset="utf-8" class="tac">
      <div class="mbm">
        <label for="userContent" class="opacity-0">Edit Text</label>
        <textarea style="color: {{currentTextColor.hex}}; font-family: {{fontFamily.name}}; font-size: {{fontSize}}px; background-color: {{backgroundColor}};" class="wi-full ht-200 bg-white tac border-none border-v" ng-model="userContent"></textarea>
      </div>
      <div class="phs tal dib">
        <label for="backgroundColor" class="db">Background Color</label>
        <input id="backgroundColor" class="pas f4 input" type="text" name="textfield" placeholder="Type hex or rgb value" ng-model="backgroundColor" />
      </div>
      <div class="phs tal dib">
        <label for="fontFamily" class="db">Font Family</label>
        <div class="pos-rel">
          <select name="fontFamily" id="fontFamily" class="f4 select bg-white" ng-model="fontFamily" ng-options="font.alias for font in allFontFamilies"></select>
          <span class="form-icon ss-navigatedown"></span>
        </div>
      </div>
      <div class="phs tal dib">
        <label for="fontSize" class="db">Font-Size (px)</label>
        <input id="fontSize" class="pas f4 input" type="text" name="textfield" ng-model="fontSize" />
      </div>
      <div class="phs tal dib">
        <label for="fontWeight" class="db">Font Weight</label>
        <input id="fontWeight" class="pas f4 input" type="text" name="textfield" ng-model="fontWeight" />
      </div>
      <div class="phs tal dib">
        <span class="db">Select WCAG Standard</span>
        <input id="AA" type="radio" ng-model="WCAGlevel" value="AA" class="radio" />
        <label for="AA">AA</label>
        <input id="AAA" type="radio" ng-model="WCAGlevel" value="AAA" class="mls radio" />
        <label for="AAA">AAA</label>
      </div>
      <button class="pvs phl mvm f4 fw-bold db center button ease" ng-click="getCurrentRatio()">Submit</button>
    </form>

    <ul class="pan tac list-plain list-horz df">
      <li ng-click="selectColorCategory(color)" ng-repeat="color in appFactory.colorCategories" class="df-child" style="background-color: {{color.hex}}">
        <a href="javascript:void(0)">
          <p>{{color.name}}</p>
        </a>
      </li>
    </ul>

    <ul class="pan list-plain list-horz df df-wrap">
      <li ng-repeat="color in currentColor.passingColorVariations" ng-click="setTextColor(color)" class="df-child ht-colorVariations tac text-white caps" style="background-color: {{color.hex}}">
        <a href="javascript:void(0)" class="db pas vac">
          <p class="man">{{color.hex}}</p>
          <p class="man">Contrast Ratio: {{color.currentRatio}}</p>
        </a>
      </li>
    </ul>

    <script type="text/javascript" src="js/contrastCalculator.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="http://www.checkman.io/please/js/Please-compressed.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
