<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Accessible Color Palette</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href="assets/fonts/ss-gizmo/ss-gizmo.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body ng-controller="appController">
    <h2 class="tac">Accessible Color Palette</h2>
    <p class="tac mw-1000 center">Set your parameters, edit the text if you'd like, and click Submit to view text colors that meet your minimum WCAG contrast ratio. Click on the color tile to set that color as the text color. Press 'cmd' key + click/enter to set it as the background color.</p>
    <form accept-charset="utf-8" class="tac">
      <div class="phs tal dib">
        <label for="backgroundColor" class="db">Background Color</label>
        <input id="backgroundColor" class="pas f4 input" type="text" name="textfield" placeholder="Type hex or rgb value" ng-model="backgroundColor.hex" />
      </div>
      <div class="phs tal dib">
        <label for="fontFamily" class="db">Font Family</label>
        <div class="pos-rel">
          <select name="fontFamily" id="fontFamily" class="f4 select bg-white" ng-model="fontFamily" ng-options="font.alias for font in allFontFamilies"></select>
          <span class="form-icon ss-navigatedown"></span>
        </div>
      </div>
      <div class="phs tal dib">
        <label for="fontSize" class="db">Font-Size (px)</label>
        <input id="fontSize" class="pas f4 input" type="text" name="textfield" ng-model="fontSize" />
      </div>
      <div class="phs tal dib">
        <label for="fontWeight" class="db">Font Weight</label>
        <input id="fontWeight" class="pas f4 input" type="text" name="textfield" ng-model="fontWeight" />
      </div>
      <div class="phs tal dib">
        <span class="db">Select WCAG Standard</span>
        <input id="AA" type="radio" ng-model="WCAGlevel" value="AA" class="radio" />
        <label for="AA">AA</label>
        <input id="AAA" type="radio" ng-model="WCAGlevel" value="AAA" class="mls radio" />
        <label for="AAA">AAA</label>
      </div>
      <button class="pvs phl mvm f4 fw-bold center button ease" ng-click="getCurrentRatio(); getPassingColors();">Submit</button>
    <p class="tac">Your current minimum WCAG contrast ratio is {{currentRatio}}</p>
      <div class="tac pos-rel">
        <span class="pas pos-abs circle tam bg-white">{{currentTextColor.currentRatio}}</span>
        <label for="userContent" class="opacity-0">Edit Text</label>
        <textarea style="color: {{currentTextColor.hex}}; font-family: {{fontFamily.name}}; font-size: {{fontSize}}px; font-weight: {{fontWeight}}; background-color: {{backgroundColor.hex}};" class="ptl wi-full ht-200 bg-white tac border-none border-v" ng-model="userContent"></textarea>
      </div>
    </form>

    <ul class="pan tac list-plain list-horz df">
      <li id="allColorsFilter" class="border-v df-child filter" data-filter="all">
        <a href="javascript:void(0)">
          <p>All Colors</p>
        </a>
      </li>
      <li ng-repeat="color in appFactory.colorCategories" class="text-white df-child filter" data-filter=".category-{{color.name}}" style="background-color: {{color.hex}}">
        <a href="javascript:void(0)">
          <p>{{color.name}}</p>
        </a>
      </li>
    </ul>

    <ul id="Container" class="pan list-plain list-horz df df-wrap">
      <li ng-repeat="color in allColors" ng-if="color.pass" class="df-child ht-colorVariations tac caps mix category-{{color.colorParent}}" ng-class="{ 'text-white': isDark(color) }"data-my-order="{{$index + 1}}" style="background-color: {{color.hex}}">
        <a href="javascript:void(0)" class="db pas vac" ng-click="setColor($event, color)">
          <p class="man">HEX: {{color.hex}}</p>
          <p class="man">Contrast Ratio: {{color.currentRatio}}</p>
        </a>
      </li>
    </ul>

    <script type="text/javascript" src="js/contrastCalculator.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="bower_components/mixitup/build/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="bower_components/tinycolor/tinycolor.js"></script>
    <!--
    <script type="text/javascript" src="http://www.checkman.io/please/js/Please-compressed.js"></script>
    -->
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
