.db { display: block; }

.bg-1 { background-color: #006eb3;}
.bg-2 { background-color: #be554b;}
.bg-3 { background-color: #e6b739;}
.bg-4 { background-color: #3c3d3e;}
.bg-5 { background-color: #696e71;}
.bg-6 { background-color: #afb5b9;}

.sampleBackground { width: 200px; height: 50px; }
