body {
  margin: 20px;
  font-family: "Arial", sanserif;
}

table {
  margin: 20px 0px;
}

textarea {

}

.hide {
  opacity: .05;
}

td {
  padding: 5px;
}

.inputBlock {
  width: 40%;
  display: inline-block;
  padding: 10px 10px 10px 0px;
}

.inputBlock label {
  display: block;
}

.inputBlock textarea {
  width: 90%;
}
